@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
  background-color: #f8f3ee;
  color: #24191b;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
